<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>

    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <div class="container">
        <h2>请输入角色信息：</h2>

        <form action="{% url 'booktest:addherohandler'%}" method="post">
            <input type="hidden" name="bookid" value="{{bookid}}">
            <br>
            英雄名：<input type="text" name="heroname">
            <br>
            性别： <input type="text" name="sex">
            <br>
            绝招： <input type="text" name="herocontent">
            <br>
            <input type="submit" value="添加">

        </form>

    </div>
</body>
</html>