<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    {% load static from staticfiles %}
    {# <link rel="stylesheet" href="/static/css/main.css"> #}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        {% if username %}
        <h2>{{username}} ---<a href="{% url 'booktest:logout' %}">退出</a></h2>

        {% else %}
        <a href="{% url 'booktest:login' %}"> 登录</a>
        {% endif %}

        <br>

        {# <img src="/static/img/wsgi.png" alt="加载图片失败" width="1100px"> #}
        <img src="{% static 'img/wsgi.png' %}" alt="加载图片失败" width="1100px">

        {#  超级链接硬编码 #}
        {#<a href="/booktest/list/">进入列表页</a>#}

        {# 去除硬编码 #}
        <a href="{% url 'booktest:list' %}">进入列表页</a>

    </div>
</body>
</html>